<!DOCTYPE html> 
<html>
	<head>
		<meta charset="utf-8"></meta>
		<title>Which words appear the most in your text?</title>
		<link rel="stylesheet"
			type="text/css" 
			href='@routes.Assets.versioned("stylesheets/main.css")'>
		<script src='@routes.Assets.versioned("javascripts/main.js")'></script>

	</head>

	<body>
		<div id="mainWrapper">
			<div id="inputWrapper">
				<span id="plus">+</span>
				<input type="text" id="x"></input>
				<input type="text" id="y"></input>
			</div>
			<div id="resultWrapper">
				<div id="resultContainer">
				</div>
			</div>
		</div>
	</body>
</html>
